{% extends "html/base.html" %}
{% load static %}
{% block content %}

<div class="row justify-content-center py-4 px-2">
    <div class="col-md-7">
        <div class="card myCard">
            <div class="card-body" style="padding-bottom: 0 !important;">
                <div class="d-flex justify-content-between">
                    <p class="font-weight-bold">Remplir les données de l'équipe
                    </p>
                </div>
                <hr>
                <div class="form">
                    <form action="{% url 'creer_equipe_submit' %}" method="POST">
                        {% csrf_token %}
                        <div class="" id="">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label class="mr-2 mt-2" for="firstName">Nom de l'équipe</label>
                                        <input type="text" class="form-control" id="firstName" name="nomEquipe"
                                            placeholder="Nom de l'équipe" value="" required />
                                    </div>
                                    <div class="form-group text-left">
                                        <label class="mr-2 mt-2" for="categorie">Catégorie</label>
                                        <input type="text" class="form-control" id="categorie" name="categorie"
                                            placeholder="Junior, Cadet..." value="" required />
                                    </div>
                                    <div class="form-group text-left">
                                        <label class="mr-2 mt-2" for="ordre">Ordre dans la catégorie</label>
                                        <input type="number" class="form-control" id="ordre" name="ordre"
                                            placeholder="1,2..." value="" required />
                                    </div>
                                    <div class="form-group text-left">
                                        <label class="mr-2 mt-2" for="numClub">Numéro de club</label>
                                        <input type="number" class="form-control" id="numClub" name="numClub"
                                            placeholder="1,2..." value="" required />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <button type="submit" class="btn btn-success">Ajouter l'équipe</button>
                            <a href="{% url 'home' %}" class="btn btn-danger text-white">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}