{% extends "html/base.html" %}
{% load static %}
{% block content %}

<div class="row justify-content-center mt-3 px-3 pb-5 pt-5">
  <p class="text-white text-center title" style="font-family: 'Ubuntu', sans-serif;">Rechercher les statistiques pour
    une date ou une saison donnée
  </p>
</div>
<div class="pt-4">
  <form action="{% url 'statistics_results' %}" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="form-group text-left">
          <div class="searchbar shadowyes">
            <input class="search_input" type="text" name="date" id="date"
              placeholder="Entrer une date de la forme: YYYY-MM-DD">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row justify-content-center mt-3 px-3 pt-2">
  <p class="text-white text-center title" style="font-family: 'Ubuntu', sans-serif;">Ou
  </p>
</div>
<div class="pt-4">
  <form action="{% url 'statistics_results2' %}" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="form-group text-left">
          <div class="searchbar shadowyes">
            <input class="search_input" type="text" name="saison" id="saison"
              placeholder="Entrer un numero de saison valide">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>






{% endblock content %}